{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}


{% block body %}
    <div class="bg-secondary">
        <div class="container"><br>
            <h2 class="text-center">English Newspapers</h2><hr class="bg-dark">
            <div class="row">
                {% for e in e_news %}
                    <div class="col">
                        <div class="card" style="width: 12rem;">
                            <a href="{{ e.link}}" target="_blank">
                                <img src="{{ e.image.url }}"  style=" height:70px" class="card-img-top" alt="...">
                            </a>
                          <div class="card-footer" style="height: 60px ;">
                            <p class="text-center">{{e.name}}</p>
                          </div>
                        </div><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}